* {
  box-sizing: border-box;
}
body {
  margin: 0%;
  height: 100vh;
  background: #ff8d26;
}
main {
  display: flex;
  align-items: center;
  margin: 0%;
  flex-direction: column;
  height: 100vh;
}
header {
  display: flex;
  flex-direction: row;
  background: #5d81d1;
  width: 100vw;
  margin: 0%;
  height: 70px;
  padding: 15px 16px 15px 20px;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}
h1 {
  background: #5d81d1;
  font-size: 1.3em;
  font-weight: 500;
  padding-left: 2px;
}
.header-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 200px;
  padding-left: 5px;
}
.header-li {
  font-size: 0.8em;
  list-style: none;
  margin: 0%;
  border-collapse: collapse;
  width: 55px;
  margin-bottom: 0%;
}
.lista {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.resume {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f87400;
  height: 100px;
  width: 100vw;
  padding-left: 22px;
  padding-right: 19px;
}
.items {
  background: #ff8d26;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 10px;
  height: 105px;
}
section.items {
  display: flex;
}
h3 {
  font-weight: 200;
}
form {
  margin-top: 20px;
  width: 200px;
}
.shopping-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.shopping-list-items {
  padding-left: 0;
}
span {
  font-weight: bold;
  padding-left: 10px;
}
.precios {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding-right: 15px;
  margin-top: 25px;
}
p {
  height: 16px;
  margin: 0%;
}
.line {
  width: 335px;
  border-bottom: 1px solid rgb(218, 189, 166);
  padding-left: 5px;
  margin: 15px;
}
a {
  text-decoration: none;
  color: #000;
}
button {
  background: #5d81d1;
  border: none;
  padding: 10px;
  color: #fff;
  font-weight: 200;
  font-size: 1em;
  margin-top: 10px;
  height: 35px;
}
.edit-items {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 10px;
  height: 140px;
  width: 100%;
  align-content: flex-start;
  margin-left: 28px;
}
.input-text {
  margin-top: 5px;
  margin-bottom: 10px;
  height: 35px;
}
.price {
  margin-top: 5px;
  height: 35px;
}
p.euro {
  position: relative;
}
.items__li {
  display: flex;
  justify-content: space-between;
  width: 360px;
}
.items__li:checked {
  text-decoration: line-through;
}
.total {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 71px;
}
.space {
  margin-right: 15px;
}
.price-span {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-content: center;
  align-items: center;
  padding-left: 0;
}
