* {
  box-sizing: border-box;
}
body {
  margin: 0%;
}
main {
  display: flex;
  align-items: center;
  margin: 0%;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: row;
  background: #5d81d1;
  width: 100vw;
  margin: 0%;
  height: 70px;
  padding: 15px 10px 15px 10px;
}
h1 {
  background: #5d81d1;
  font-size: 1.5em;
}
ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
li {
  font-size: 0.8em;
  list-style: none;
  justify-content: space-around;
}
